html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-family: "Roboto";
  align-content: center;
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  align-content: center;
}

.header img {
  height: 40px;
  align-content: center;
  margin: 20px 0 0 60px;
}
header i {
  position: absolute;
  margin: 35px 0 0 20px;
}
.section img {
  margin-top: 10px;
  height: 350px;
  width: 375px;
}
.menu_option {
  background-color: #f4f6f7;
  height: 1500px;
  width: 375px;
  border-radius: 50px 50px 0 0;
  position: absolute;
  margin-top: -70px;
}
h1 {
  margin: 30px 0 0 30px;
  font-style: italic;
  font-weight: bolder;
  font-size: 30px;
}
h2 {
  font-size: 17px;
  opacity: 55%;
  border: 3px solid rgb(41, 180, 127);
  border-image: linear-gradient(to right, rgb(110, 224, 167) 12%, #f4f6f7 10%) 10% 1;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.title i {
  position: absolute;
  margin: 10px 0 0 85%;
}

.menu_option h2 {
  margin: 40px 0 0 30px;
}

.btn {
  margin: 10px 0 0 15px;
  background-color: white;
  border: none;
  border-radius: 18px;
  font-size: 16px;
  cursor: pointer;
  height: 80px;
  width: 350px;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.btn:hover .slider {
  width: 5.5rem;
  left: 22.5rem;
  transition: 0.3s linear;
}
.btn:hover .tick {
  transform: rotate(-360deg);
  transition-duration: 0.5s;
}
.btn:hover .item-price{
  margin-right: 5.5rem;
  transition: 0.3s linear;
}
.btn P {
  padding: 20px 0 0 15px;
  font-family: "roboto";
  font-size: 17px;
  font-weight: bolder;
}
.btn h6 {
  margin-bottom: -8px;
  font-size: 16px;
  padding: 5px 0 0 10px;
}
h4 {
  margin-left: 15px;
  font-family: roboto thin;
  line-height: 0%;
}
P {
  line-height: 15px;
}
.order_btn {
  padding-bottom: 15px;
  margin: 50px 0 20px 80px;
  background: linear-gradient(
    185deg,
    rgba(255, 121, 218, 1) 0%,
    rgba(147, 86, 220, 1) 100%
  );
  border: none;
  border-radius: 55px;
  font-size: 22px;
  color: white;
  cursor: pointer;
  height: 55px;
  width: 190px;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.order_btn h3 {
  padding: 20px 0 0 60px;
}
.order_btn:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
.footer {
  height: 200px;
  margin-top: 60px;
  background-color: rgb(61, 61, 68);
  color: white;
  font-weight: bolder;
  font-size: 14px;
  padding-bottom: 20px;
}
.footer h3 {
  font-size: 22px;
  font-style: italic;
  padding: 20px 0 0 20px;
}
.fa-utensils {
    margin: 0 10px 0 0;
  }
  .fa-hands-helping {
    margin: 0px 5px 0 10px;
  }

.footer_note h4 {
  font-family: roboto medium;
  font-size: 14px;
  margin-top: -15px;
}
.footer_contact {
  line-height: 0px;
  margin-left: 10px;
  font-family: roboto thin;
}
.footer_contact h4 {
  font-size: 14px;
  font-family: roboto thin;
}


/*ipad view */
@media (min-width: 768px) {
  .header {
    padding-left: 30%;
  }
  .title {
    padding-left: 30%;
  }
  .title i {
    margin-left: 60%;
  }
  .section img {
    width: 100%;
  }
  .menu_option {
    width: 100%;
    height: 1200px;
  }
  .grid-container {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 50px 50px; /*Make the grid smaller than the container*/
    background-color: #f4f6f7;
  }
  .main_section {
    margin: 0 0 0 -350px;
  }
  .main_section h2 {
    margin-bottom: -5px;
  }
  .entriees_section {
  width: 400px;
  }
    
  .Desserts_secton {
    margin-top: -60px;
    width: 400px;
  }
  .order_btn {
    margin: 0px 0 80px 40%;
  }
   .footer {
    padding-left: 40%;
    margin-top: -20px;
    }
   .footer_contact {
     margin-top: 30px;
     display: flex;
     font-family: roboto thin;
     font-size: 16px;
   }
   .footer_contact h4 {
     font-size: 18px;
     margin-top: 0;
     margin-right: 60px;
   }
   .footer_note, .footer_note h4 {
     font-family: roboto medium;
     font-size: 15px;
   }
   .footer_note {
    display: flex;
    margin-left: -100px;
   }
   .footer_note h4 {
     margin: -10px 20px 0 0;
   }
   .footer p {
    width: 50px;
    }
   .fa-utensils {
    margin: 10px 10px 0 0;
    }
    .footer_contact h6 {
      margin: 0 20px 0 0;
      font-size: 16px;
    }
}

/*desktop view */
@media (min-width: 992px) {
  .header {
    padding-left: 40%;
  }
  .title {
    padding-left: 40%;
  }
  .title i {
    position: absolute;
    margin: 10px 0 0 55%;
  }
  .section img {
    width: 100%;
  }
  .menu_option {
    width: 100%;
    height: 800px;
  }
  .main_section {
    margin: 10px 0 0  10px;
  }
  .main_section h6 {
    margin: 0;
  }
  .entriees_section h2 {
    margin-bottom: -10px;
  }
  .Desserts_secton {
    margin-top: 7px;
  }
  .Desserts_secton h6 {
    margin: 0;
  }
  .btn h6 {
    padding-left: 15px;
    margin-bottom: -8px;
  }
  
  .grid-container {
    height: 300px;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    grid-template-columns: 50px 50px 50px; /*Make the grid smaller than the container*/
    background-color: #f4f6f7;
    padding: 40px 0 20px 0;
  }
  .order_btn {
    margin: 100px 0 80px 43%;
  }
  .footer {
    height: 200px;
  }
  .footer_note {
    margin-left: -250px;
    margin-top: -20px;
  }
  .footer_note h4 {
    margin-right: 60px;
    font-family: roboto medium;
    display: inline-block;
  }
  .footer_contact {
    margin: -7px 0 0 180px;
    font-family: roboto thin;
  }
  .footer_contact h4 {
    margin: 0 0 0 100px;
    position: absolute;
    font-size: 16px;
  }
}

/*side slide menu */

.slider {
  margin-left: 3.5px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	bottom: 78px;
	left: 100%;
	right: 0;
  top: -77.5px;
	background-color: rgb(90, 218, 186);
	border-radius: 0 18px 18px 0;
	width: 0px;
	height: 80px;
	overflow: hidden;
	transition: 0.5s linear;
}

.tick {
	color: white;
	border-radius: 50%;
	font-size: 1.5rem;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	transform: rotate(-90deg);
	transition-duration: 0.5s;
}

.iteam-price {
  position: relative;
  float: left;
  bottom: 30px;
  left: 85%;
  right: 0;
  width: 0;
  height: 100%;
  transition: 0.3s ease;
}
 .btn:hover .iteam-price {
   left: 70%;
 }
 .btn:hover .slider {
   left: 80%;
   right: 0;
   transition: 0.3s ease;
 }
 .btn h5 {
   position: absolute;
   margin: -32px 0 0 220px;
   font-family: roboto thin;
   font-size: 16px;
   transition: 0.5s ease;
 }
 .btn:hover h5 {
   opacity: 0;
   transition: 0.5s;
  }
  .iteam-price p {
    opacity: 0;
    position: absolute;
    margin: -20px 0 0 -40px;
  }
  .btn:hover .iteam-price p {
    opacity: 1;
    transition: 0.5s ease-in;
  }
  .btn_L:hover .iteam-price {
    left: 70%;
    
  }
  .btn_L:hover .slider {
    left: 80%;
   right: 0;
   transition: 0.5s ease;
  }

  /*.........................*/
  /*fading animation for menu*/

  .fade-in-menu_entriees {
    animation: fadeIn 4s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  .fade-in-menu_main {
    animation: fadeIn 8s;
  }
  .fade-in-menu_desserts {
    animation: fadeIn 12s;
  }



